/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  background-image: url('../components/images/background_06.png');
  background-size: cover;         /* Ajusta a imagem para cobrir toda a tela */
  background-repeat: no-repeat;   /* Não repete a imagem */
  background-position: center;    /* Centraliza a imagem */
  height: 100vh;                  /* Garante altura total da viewport */
  margin: 0;
  font-family: Arial, sans-serif;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.w-full {
  width: 100%;
}

.nav-logo {
  height: 64px;
  padding: 5px 0;
}

.logo-container {
  height: 64px;
  display: flex;
  align-items: center;
}

.logo{
  height: 100%;
  max-height: 64px;
  
}

.nav-item-off{
  background-color: white;
  padding: 0px 15px;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.nav-item-off:hover {
  opacity: 1;
}

.nav-item-bright {
  font-weight: bold;
}

.nav-item-bright:hover {
  background-color:#900404;
  color: white !important;
}

.py-12 {
  padding-top: 0;
  padding-bottom: 3rem;
}

.overlay-block {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 15px;
  padding: 52px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 98%;
  max-width: 415px;
  z-index: 10;
}

.w-full.relative {
  position: relative; /* Define o contexto de posicionamento para a overlay-block */
}

.img-1520 {
  width: 1520.8px;
}

.background-color {
  background-color: #900404;
  color:white
}

.container-center {
  max-width: 1088px;
  align-items: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}




