<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title><%= title %></title>

  <!-- CSS  Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

  <!-- SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>
  <!-- Barra de navegação atualizada -->
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a href="/" class="logo-container">
            <img src="../components/images/logo_pizzashow.png" alt="Pizza Show" class="nav-logo" />
        </a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="/" class="black-text nav-item-off nav-item-bright">
                    <i class="small material-icons" style="vertical-align: middle;">home</i>
                    Home
                </a>
            </li>
            <li>
                <a href="/produtos" class="nav-item-off nav-item-bright" style="color: #900404">
                    <i class="small material-icons" style="vertical-align: middle;">restaurant</i>
                    Produtos
                </a>
            </li>
            <li>
                <a href="/clientes" class="black-text nav-item-off nav-item-bright" >
                    <i class="small material-icons" style="vertical-align: middle;">account_box</i>
                    Clientes
                </a>
            </li>
            <li>
                <a href="/pedidos" class="black-text nav-item-off nav-item-bright">
                    <i class="small material-icons" style="vertical-align: middle;">add_shopping_cart</i>
                    Pedidos
                </a>
            </li>
            <li>
                <a href="#" onclick="window.auth.logout(); return false;" class="black-text nav-item-off nav-item-bright">
                    <i class="small material-icons" style="vertical-align: middle;">exit_to_app</i>
                    Sair
                </a>
            </li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons black-text">menu</i></a>
    </div>
  </nav>

  <!-- Menu Mobile atualizado -->
  <ul id="nav-mobile" class="sidenav">
    <li><a href="/">Home</a></li>
    <li><a href="/produtos">Produtos</a></li>
    <li><a href="/clientes">Clientes</a></li>
    <li><a href="/pedidos">Pedidos</a></li>
    <li><a href="#" onclick="window.auth.logout(); return false;">Sair</a></li>
  </ul>

  <div class="container">

    <div class="row">
      <form id="registrationForm" class="col s12">
        <div class="row">
          
          <h5><b>Produtos</b></h5>
          
          <div class="input-field col s6">
            <input id="productName" name="sabor" type="text" class="validate">
            <label for="productName"><span style="color: red;">* </span><b>Sabor:</b></label>
          </div>

          <div class="input-field col s6">
            <input id="productDescription" name="descricao" type="text" class="validate">
            <label for="productDescription"><b>Descrição:</b></label>
          </div>

          <div class="input-field col s6">
            <label for="productCategory"><b>Categoria:</b></label><br><br>
            <select name="categoria" id="productCategory" class="browser-default" autocomplete="on">
                <option value="" disabled selected>Selecione:</option>
                <option value="Tradicional">Tradicional</option>               
                <option value="Especial">Especial</option>
            </select>           
          </div>

          <div class="input-field col s6">
            <label for="productSize"><span style="color: red;">* </span><b>Tamanho:</b></label><br><br>
            <select name="tamanho" id="productSize" class="browser-default" autocomplete="on">
                <option value="" disabled selected>Selecione:</option>
                <option value="Pequena">Pequena</option>               
                <option value="Média">Média</option>
                <option value="Grande">Grande</option>
                <option value="Gigante">Gigante</option>
            </select>           
          </div>

          <div class="input-field col s6">
            <input id="productPrice" name="preco" type="number" step="0.01" class="validate">
            <label for="productPrice"><span style="color: red;">* </span><b>Preço:(R$)</b></label>
          </div>

          <div class="input-field col s6">
            <button class="btn waves-effect green btn-small" type="button" onclick="saveProduct()">
              <i class="material-icons right">send</i>
              Salvar
            </button>
            &nbsp;
            <button id="toggleVisibilityBtn" class="btn waves-effect blue btn-small" type="button" onclick="toggleProductListVisibility()">
              <i id="visibilityIcon" class="material-icons">visibility_off</i>
              <span id="visibilityText">Exibir</span>
            </button>
          </div>
        </div>
      </form>

      <div id="productListContainer">
        <table class="striped"> 
          <thead>
            <tr>
                <th>Sabor</th>
                <th>Descrição</th>
                <th>Categoria</th>
                <th>Tamanho</th>
                <th>Preço (R$)</th>
                <th>Editar/Deletar</th>
            </tr>
          </thead>
          <tbody id="products-list">
            <!-- Produtos serão carregados aqui via JavaScript -->
          </tbody>
        </table>
      </div>

      <!-- Modal de Sucesso -->
      <div id="successModal" class="modal">
        <div class="modal-content">
          <h4>Sucesso!</h4>
          <p>Produto salvo com sucesso!</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Ok</a>
        </div>
      </div>

    </div>
  </div>

  <!-- Footer atualizado -->
  <footer class="page-footer grey lighten-4" style="margin-top: 20px;">
    <div class="container">
        <div class="row" style="margin-bottom: 0;">
            <div class="col s12" style="line-height: 0.8;">
                <p class="black-text" style="font-size: 0.75rem; margin: 3px 0;">
                    <i class="tiny material-icons" style="vertical-align: middle; margin-right: 5px; font-size: 1rem;">info</i>
                    Sistema para gerenciamento de produtos, clientes e pedidos de pizzaria.
                </p>
                <p class="black-text" style="font-size: 0.75rem; margin: 3px 0;">
                    <i class="tiny material-icons" style="vertical-align: middle; margin-right: 5px; font-size: 1rem;">code</i>
                    Análise e desenvolvimento de sistemas - Faculdade Nova Roma - Full Stack | Projeto Integrador
                </p>
                <p class="black-text" style="font-size: 0.75rem; margin: 3px 0;">
                    <i class="tiny material-icons" style="vertical-align: middle; margin-right: 5px; font-size: 1rem;">group</i>
                    Prof. Henning Summer | Alunos: Eduardo Cadiz | Leonardo Andrade | Kaio Guilherme - [2025]
                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright" style="padding: 5px 0;">
        <div class="container black-text" style="font-size: 0.7rem;">
            © 2025 Pizza Show
        </div>
    </div>
  </footer>

  <!-- Scripts -->
  <script src="/js/config.js"></script>
  <script src="/js/auth.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>
  <script src="/js/produtos.js"></script>

</body>
</html>